/Array.class
/Calculator.class
/Calculator1.class
/DigitSum.class
/Elsecondition.class
/Employees.class
/Evenodd.class
/ForLoop.class
/GetSetMethod.class
/Hello.class
/Loop.class
/Methods.class
/PrimeNum.class
/Result.class
/Reverse.class
/Student.class
/Test.class
/TestGetSet.class
/WhileLoop.class
